@import ../../styles/_variables.sass

.grid
  display: grid
  gap: 2rem
  grid-template-columns: repeat(3, $desktop-thumb-size)
  width: 100%
  align-items: stretch
  margin: 0 auto 5rem
  justify-content: center

  +mobile
    width: 100%
    grid-template-columns: repeat(auto-fill, $mobile-thumb-size)
    gap: 1rem
    margin-bottom: 2rem
