@import ../../styles/_variables.sass

$logo-base-height: 1.5rem

.root
  --base-height: #{$logo-base-height}

  +mobile
    --base-height: 1.25rem

  display: flex
  justify-content: center

  svg
    height: var(--base-height)
    width: auto

.visa
  height: var(--base-height)
  overflow: hidden
  display: flex
  align-items: center
  margin: 0 calc(var(--base-height) * -.25)

  svg
    height: calc(var(--base-height) * 2)

.gpay, .apple, .p24
  margin-left: calc(var(--base-height) * .5)

.apple, .p24
  display: flex
  height: var(--base-height)
  width: auto
  overflow: hidden
  align-items: center

.p24 svg
  height: calc(var(--base-height) * .75)

