.button
  display: inline-flex
  align-items: center
  font-size: 1em
  font-weight: bold
  border: 0
  background: 0
  color: var(--emphasis-color)
  font-family: inherit
  white-space: nowrap
  height: var(--header-height)
  margin: 0
  gap: .5rem

  svg
    height: 1.5rem
    width: auto
    fill: currentColor

