@import ../../styles/_variables.sass

.cta
  height: 2.5rem
  margin-top: auto
  font-size: inherit
  padding: 0

  +mobile
    height: 3rem

  &:not(.clicked)
    .clickedText
      display: none

  &.clicked
    .baseText
      display: none

  &.soldOut
    border-color: var(--fg-color)
    color: var(--fg-color)
