@import ../../../styles/_variables.sass

.header
  display: grid
  align-items: center
  background: var(--surface-2dp)
  z-index: 10
  top: 0
  left: 0
  right: 0

  +mobile
    grid-template-columns: var(--header-height) 1fr repeat(2, var(--header-height))
    position: fixed
    z-index: 12

  +light
    border-bottom: 1px solid #ccc
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2)
    background: var(--surface-1dp)

  +not-mobile
    padding: 0 2rem
    box-shadow: none

  +with-inline-categories
    grid-template-columns: auto 1fr repeat(2, var(--header-height))
    position: fixed
    overflow: hidden

  +without-inline-categories
    grid-template-columns: 1fr repeat(2, var(--header-height))

  a
    color: var(--emphasis-color)

  svg
    height: 1.5rem
    fill: currentColor

+without-inline-categories
  .inlineCategories
    display: none

+mobile
  .inlineCategories
    display: none

+with-inline-categories
  .inlineCategories
    display: flex

  .standaloneCategories
    display: none

.hamburger,
.contact,
.cart
  position: relative
  width: var(--header-height)
  height: var(--header-height)
  display: flex
  align-items: center
  justify-content: center
  color: var(--emphasis-color)

  +mobile
    &:after
      content: ''
      position: absolute
      top: rem-calc(9px)
      bottom: rem-calc(9px)
      width: 1px
      background: var(--fg-color)

.contact, .cart
  +hoverable(var(--surface-4dp))
  +mobile
    .label
      display: none
  
  +not-mobile
    flex-direction: column
    justify-content: space-between
    padding: 1.25rem 0 1rem

    .label
      justify-self: flex-end

  svg
    transform: scaleX(-1)

.hamburger::after
  right: 0

.contact, .cart
  &::after
    left: 0

.hamburger
  +not-mobile
    display: none

a.logo
  color: black
  color: var(--emphasis-color)
  +mobile
    margin-left: 10px

  svg
    height: calc(var(--header-height) - 2rem)
    fill: currentColor

    +mobile
      height: rem-calc(36px)
