@import ../../styles/_variables.sass

.modal
  position: fixed
  top: 0
  bottom: 0
  right: 0
  width: $cart-modal-width
  background: var(--surface-1dp)
  z-index: 11
  display: flex
  flex-direction: column
  
  h2
    margin: 1.5rem 0 1rem 1.5rem
  

.content
  padding: 0 1.5rem 2.5rem
  overflow-y: auto
  flex: 1

  ul
    list-style: none
    padding: 0

.summary
  padding: 1.5rem 1.5rem 3rem

.summaryTable
  table-layout: fixed
  width: 100%
  font-size: 1.2em

  th, td
    padding: 0

  th
    text-align: left

  td
    text-align: right

  margin-top: auto
  font-weight: bold

.productTotal
  display: flex
  justify-content: space-between
  margin-bottom: .5rem
  font-size: 1.75rem

  p
    margin: 0

.close
  position: absolute
  top: 0
  right: 0
  outline: 0
  border: 0
  height: 3rem
  display: flex
  align-items: center
  gap: .5rem
  padding: 0 .75rem
  cursor: pointer
  background: transparent
  &:hover
    background: var(--surface-2dp)
  
  svg
    fill: currentColor
    height: 1.5rem

.paymentMethods
  margin-top: 1.5rem
